

/*banner starter*/
.scrolling-banner img{
    position: relative;
}

.scrolling-banner{
    display: flex;
    overflow: scroll;
    width: 90%;
    max-width: 100%; 
}

.scrolling-banner header{
    position: absolute;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    gap: 1rem;
}
/*banner slutter*/


/*
.scrolling-banner header h2{
    font-weight: bold;
}
*/


/*Seksjon 2 - våre mest populære produkter*/
.populære_produkter{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;   
}

/*minste størrelse til alle articler med minst sjermen størrelse er 250*/

/*populære produkter*/
.populære_produkter article{
    flex-basis: 35%;
    flex-grow: 1;
    min-width: 150px;
}

/*link*/
.populære_produkter article a{
    position: relative;
    display: inline-block;
    color: #d2d2d2;
}

/*hjerte*/
.populære_produkter article a i{
    position: absolute;
    top: 10px;
    margin-left: 60px;
    font-size: 30px;
}

/*bilde*/
.populære_produkter img{
    width: 100%;
    max-width: 60%;
    margin-left: 50px;
}

/*informasjon til produkter*/
.populære_produkter article ul{
    list-style: none;
    margin-left: 10px;
}

/*842 Reviews*/
.populære_produkter article h3{
    margin-left: 50px;
}



/*Seksjon4*/
#anmeldelser{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem; 
}
#anmeldelser .scroll-anmeldelser{
    display: flex;
    gap: 1rem;
    overflow: scroll;
}
#anmeldelser .scroll-anmeldelser article{
    min-width: 240px;  
}
#anmeldelser .scroll-anmeldelser article img{
    width: 100%;
}





/*footer*/
.footer-informasjon{
    text-transform: uppercase;
}

#footer{
    background-color: rgb(126, 122, 122);
    display: flex;
}