body{
    margin: 0;
}

img{
    width: 100%;
    background-size: cover;
}

#kebab-title{
    text-transform: uppercase; /* stor bokstaver*/
    font-size: 50px; /* størrelse */
    text-align: center;
    color: #fff7f7;

}

#background {
    background-image: url("../img/Kebab_med_kyllig.jpg");
    padding: 5rem;
}

.to-do-title {
    color: blue;
}

.to-do{

    color:blueviolet
}