/*MOBIL VERSJON STARTER*/

    /*toppområde starter*/
    .toppomrode {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 1rem;
        width: 100%;
        max-width: 1000px;
    }
    .toppomrode ul{
        list-style: none;
        display: flex;
        gap: 1rem;
        align-items: center;
    }
    .toppomrode ul li a{
        color: #252525;
    }
    .toppomrode img{
        max-width: 100%;
        width: 90px;
    }
    
    /*toppområde slutterr*/

    /*andre starter*/
    .andreomrode{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 1rem;
        width: 100%;
        max-width: 1000px;
        margin-top: 50px;
        margin-bottom: 50px;
        
    }

    .andreomrode ul{
        list-style: none;
        display: flex;
        gap: 1rem;
        align-items: center;
    }

    .andreomrode ul li{
        list-style: none;
        

    }

    .andreomrode ul li a{
        text-decoration: none;
        color: #252525;
    }
    
    /*andre slutter*/








    .banner{
        background-image: url('../img/sea-4768869_1920.jpg');
    }

    /*
    .søk_skjema{

    }
    */


    /*Kampanjesekjon starter*/
    .kampanje{
        background-image: url('../img/holiday-2733322_1280.jpg');
        background-size: cover;
        height: 350px;
        background-position: center;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        padding-top: 28px;
        position: relative;
        display: flex;
        flex-wrap: wrap;
        border-radius: 30px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .kampanjetekst h1{
        font-weight: bold;
        font-size: xx-large;
    }
    .kampanjetekst h2{
        font-weight: bold;
        font-size: xx-large;
    }
    .kampanjetekst h3{
        font-weight: lighter;
        font-size: large;
    }
    .kampanjetekst{
        background-color: #52d3f0 ;
        text-align: center;
        border-radius: 30px;
        padding: 15px;
        box-sizing: border-box;
        width: 80%;
    }
    .kampanje a{
        background-color: #ffcc00;
        color: #252525;
        padding: 10px;
        font-size: 15px;
        font-weight: bold;
        border-radius: 7px;
        text-decoration: none;
        
    }
    /*Kampanjeseksjon slutter*/




    /*Tilbudsseksjon starter*/
    .tilbuder{
        gap: 1rem; 
        max-width: 100%;
        margin-left: 5px;
        margin-left: 5px;
    }

    .scroll_tilbuder{
        display: flex;
        gap: 1rem;
        overflow: auto;
        max-width: 100%;
        margin-bottom: 20px;
    }
    .scroll_tilbuder article{
        min-width: 290px;
        width: 100%;
        padding: 30px;
        box-shadow: 5px 5px 5px 5px #b4afaf;
        border-radius: 5px;
        margin-bottom: 40px;
        margin-top: 20px;

    }
    .scroll_tilbuder article h3{
        display: flex;
        justify-content: space-between;
        gap: 1rem;
    }
    .scroll_tilbuder article a{
        text-decoration: none;       
        align-items: center;
        display: flex;
        justify-content: space-between;
        color: #237fe1;
    }

    /*Tilbudsseksjon slutter*/


    /*Tips og inspirasjon starter*/
    .inspirasjon{
        position: relative;
        margin-bottom: 20px;
    }
    .artikler article{
        box-shadow: 5px 5px 5px 5px #b4afaf;
        border-radius: 30px;
        padding: 10px;
        margin-bottom: 20px;
    }
    .artikler article img{
        height: 100%;
        position: relative;
        display: flex;
        border-radius: 30px;
        margin-top: 20px;
        margin-bottom: 20px;
        width: 100%;
    }
    .artikler h3{
        font-size: 25px;
        display: flex;
        flex-wrap: wrap;
        margin-left: 10px;
    }
    .artikler p{
        font-weight: lighter;
        font-size: 18px;
        display: flex;
        flex-wrap: wrap;
        margin-left: 10px;
    }
    .artikler a{
        text-decoration: none;
        color: #252525;
        font-size: 18px;
        display: flex;
        gap: 0.5rem;
        margin-left: 10px;
    }

    /*Tips og inspirasjon slutter*/

    





    /*Hottell side starter*/
    .hotell_banner{
        width: 100%;
        max-width: 500px;
        margin-left: 0px;
 
    }
    .scroll_banner{
        display: flex;
        width: 100%;
        overflow: auto;
    }

    .scroll_banner article{
        display: flex;
    }

    .scroll_banner img{
        max-width: 100%;
    }
    .hotell_banner{
        max-width: 100%;
    }
    .hotell_banner nav{
        width: 100%;
    }
    .hotell_banner nav ul{
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        gap: 1.5rem;
        
       
    }
    .hotell_banner nav ul li{
        list-style: none;
        
    }
    .hotell_banner nav ul li a{
        text-decoration: none;
        color: #252525;
        font-size: 20px;
    }
    

    
    .hotell_layout{
        padding: 20px;
    }
    

    .fa-sun{
        color:#efc418;
        font-size: 20px;
    }

    #review{
        background-color: rgb(78, 231, 78);
        color: #fff;
        width: 100%;
        max-width: 6%;
        padding: 5px;
        font-size: 20px;
    }
    #text-review{
        font-size: 20px;
    }
    .hotell_layout{
        list-style: none;
    }
    .hotell_layout a{
        text-decoration: none;
        color: #237fe1;
    }

    .fasiliteter nav ul {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-between;
        min-width: 200px;
    }

    .fasiliteter nav ul li{
        list-style: none;
    }
    /*Hotell side slutter*/








    /*footer starter*/
    #footer{
        width: 100%;
        max-width: 1000px;
        background-color: #252525;
            
    }
    .flags{
        justify-content: center;
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;   
        padding: 5px; 
    }            
                
            
    .flags p img {
        max-width: 60px;
    }
    .flags p{
        color: #fff;
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;
        font-size: 18px;
                    
    }
            

    .overskrift{
        color: #fff;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 15px;
        margin-top: 40px;
        margin-bottom: 20px;
        margin-left: 30px;
    }
    #reisegavekort a{
        text-decoration: none;
        color: #fff;
        font-size: 20px;
        font-weight: lighter;
        margin-left: 30px;
    }
            
    .betalingsmetoder{
        color: #fff;
        margin-left: 20px;
    }
            
    .betalingsmetoder i{
        font-size: 40px;
        padding: 5px;
    }
    .betalingsmetoder section i{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
    }


    .meld_seg{
        margin: 10px 40px 10px 10px;
        color: #fff;
        padding: 30px;
        font-size: 20px;
    }
    .email_ekempel{
        padding: 10px;
    }
    #send{
        background-color: #ffcc00;
        color: #252525;
        padding: 10px;
        font-size: 15px;
        font-weight: bold;
        border-radius: 7px;
    }                

    .kundeservice nav ul li{
        list-style: none;
        margin-bottom: 10px;
    }

    .kundeservice nav ul li a{
        text-decoration: none;
        color: #fff;
    }



    .sosialemedier ul{
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        justify-content: flex-start;   
        margin-left: 30px;
        padding: 0;
        

    }
    
    .sosialemedier li{
        list-style: none;

    }

    .sosialemedier a{
        text-decoration: none;
        color: #fff;
    }

    .sosialemedier i{
        font-size: 40px;
        width: 100%;
        margin-bottom: 20px;
    }
    /*footer slutter*/


/*MOBIL VERSJON SLUTTER*/


/*DESKOPT VERSJON STARTER*/
@media only screen and (min-width: 800px){
    .fa-bars {
        display: none; 
    }
    .fa-user{
        display: none;
    }

    /*toppområde starter*/
    .toppomrode {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 1rem;
        width: 100%;
        max-width: 1000px;
    }
    .toppomrode ul{
        list-style: none;
        display: flex;
        gap: 1rem;
        align-items: center;
    }
    .toppomrode ul li a{
        color: #252525;
    }
    .toppomrode img{
        max-width: 100%;
        width: 90px;
    }
    
    /*toppområde slutterr*/

    /*andre starter*/
    .andreomrode{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 1rem;
        width: 100%;
        max-width: 1000px;
        margin-top: 50px;
        margin-bottom: 50px;
        
    }

    .andreomrode ul{
        display: flex;
        gap: 1rem;
        align-items: center;
        background-color: #fff;
    }

    .andreomrode ul li{
        list-style: none;
        

    }

    .andreomrode ul li a{
        text-decoration: none;
        color: #252525;
    }
    
    /*andre sluter*/
    
}
/*DESKOPT VERSJON SLUTTER*/