/*MOBIL VERSJON STARTER*/

    /*toppområde starter*/
    .toppomrode {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 1rem;
        width: 100%;
        max-width: 1000px;
    }
    .toppomrode ul{
        list-style: none;
        display: flex;
        gap: 1rem;
        align-items: center;
    }
    .toppomrode ul li a{
        color: #252525;
    }
    .toppomrode img{
        max-width: 100%;
        width: 90px;
    }
    
    /*toppområde slutterr*/

    /*andre starter*/
    .andreomrode{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 1rem;
        width: 100%;
        max-width: 1000px;
        margin-top: 50px;
        margin-bottom: 50px;
        
    }

    .andreomrode ul{
        list-style: none;
        display: flex;
        gap: 1rem;
        align-items: center;
    }

    .andreomrode ul li{
        list-style: none;
        

    }

    .andreomrode ul li a{
        text-decoration: none;
        color: #252525;
    }
    
    /*andre slutter*/








    .banner{
        background-image: url('../img/sea-4768869_1920.jpg');
    }

    .søk_skjema{

    }







    /*footer starter*/
    #footer{
        width: 100%;
        max-width: 1000px;
        background-color: #252525;
            
    }
    .flags{
        justify-content: center;
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;   
        padding: 5px; 
    }            
                
            
    .flags p img {
        max-width: 60px;
    }
    .flags p{
        color: #fff;
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;
        font-size: 18px;
                    
    }
            

    .overskrift{
        color: #fff;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 15px;
        margin-top: 40px;
        margin-bottom: 20px;
        margin-left: 30px;
    }
    #reisegavekort a{
        text-decoration: none;
        color: #fff;
        font-size: 20px;
        font-weight: lighter;
        margin-left: 30px;
    }
            
    .betalingsmetoder{
        color: #fff;
        margin-left: 20px;
    }
            
    .betalingsmetoder i{
        font-size: 40px;
        padding: 5px;
    }
    .betalingsmetoder section i{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
    }


    .meld_seg{
        margin: 10px 40px 10px 10px;
        color: #fff;
        padding: 30px;
        font-size: 20px;
    }
    .email_ekempel{
        padding: 10px;
    }
    #send{
        background-color: #ffcc00;
        color: #252525;
        padding: 10px;
        font-size: 15px;
        font-weight: bold;
        border-radius: 7px;
    }                

    .kundeservice nav ul li{
        list-style: none;
        margin-bottom: 10px;
    }

    .kundeservice nav ul li a{
        text-decoration: none;
        color: #fff;
    }



    .sosialemedier ul{
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        justify-content: flex-start;   
        margin-left: 30px;
        padding: 0;
        

    }
    
    .sosialemedier li{
        list-style: none;

    }

    .sosialemedier a{
        text-decoration: none;
        color: #fff;
    }

    .sosialemedier i{
        font-size: 40px;
        width: 100%;
        margin-bottom: 20px;
    }
    /*footer slutter*/


/*MOBIL VERSJON SLUTTER*/


/*DESKOPT VERSJON STARTER*/
@media only screen and (min-width: 800px){
    .fa-bars {
        display: none; 
    }
    .fa-user{
        display: none;
    }

    /*toppområde starter*/
    .toppomrode {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 1rem;
        width: 100%;
        max-width: 1000px;
    }
    .toppomrode ul{
        list-style: none;
        display: flex;
        gap: 1rem;
        align-items: center;
    }
    .toppomrode ul li a{
        color: #252525;
    }
    .toppomrode img{
        max-width: 100%;
        width: 90px;
    }
    
    /*toppområde slutterr*/

    /*andre starter*/
    .andreomrode{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 1rem;
        width: 100%;
        max-width: 1000px;
        margin-top: 50px;
        margin-bottom: 50px;
        
    }

    .andreomrode ul{
        display: flex;
        gap: 1rem;
        align-items: center;
        background-color: #fff;
    }

    .andreomrode ul li{
        list-style: none;
        

    }

    .andreomrode ul li a{
        text-decoration: none;
        color: #252525;
    }
    
    /*andre sluter*/
    
}
/*DESKOPT VERSJON SLUTTER*/